@charset "UTF-8";



* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

#navbar {
	overflow: hidden;
	background-color: #075770;
	padding: 5px 20px;
}

#navbar ul {
	list-style-type: none;
}
#navbar li {
	font-size: 16px;
	padding: 15px 5px;
}
#navbar li a {
	display: block;
	color: white;
	text-decoration: none;
}

#navbar li a:hover {

}


#navbar .logo {
	flex-grow: 1;
	border: none;
}
#navbar .logo a {
	font-size: 20px;
	text-decoration: none;
}






/*** MOBILE CSS **********************************************/
@media screen and (min-width: 320px){


	body {
		background-color: #f8f8f8;
	}


	h1, h2, h3 {
		font-family: Cinzel;
	}
	p {
		font-family: 'Source Sans Pro';
	}
	a {
		font-family: 'Source Sans Pro';
	}


	header {
		border-right: 2px solid turquoise;
		position: fixed;
		width: 100%;
		z-index: 1;
	}


	#navbar {
		
	}
	#navbar ul {
		border:;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
	}

	#navbar .logo {
	
	}
	#navbar .logo a {
		font-family: Cinzel;
		font-size: 24px;
	}

	/* #navbar li */
	#navbar .item {
		width: 100%;
		text-align: center;
		display: none;
		order: 3;
	}
	#navbar .item.active {
		display: block;
	}
	#navbar .item a {
		font-family: 'Source Sans Pro';
		font-size: 25px;
		padding: 10px;
	}
	#navbar .item a:hover {
		border-bottom: 0.5px solid white;
	}


	#navbar .toggle {
		order: 1;
	}
	#navbar .toggle {
		cursor: pointer;
	}

	#navbar .bars {
		background-color: #999;
		display: inline-block;
		height: 3px;
		position: relative;
		width: 20px;
	}

	#navbar .bars::before, .bars::after {
		background-color: #999;
		content: "";
		display: inline-block;
		height: 3px;
		position: absolute;
		width: 20px;
	}
	#navbar .bars::before {
		top: 5px;
	}
	#navbar .bars::after {
		top: -5px;
	}




/* THE GAME AREA CSS ********************************************************/
	.main-container {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		height: 100%;
		max-height: 900px;
		text-align: center;
	}
	.section {
		width: 100%;
		padding: 10px;
	}


	/*THE OVERLAY*/
	#overlay {
		display: flex;
		flex-direction: column;
		position: fixed;
		color: ;
		justify-content: center;
	  	top: 72px;
		bottom: 0;
		left: 0;
		right: 0;
		border-radius: 0px;
	}
	#overlay .title {
		border: ;
		font-size: 35px;
		padding: 5px;
		color: black;
	}
	#overlay span {
		font-family: 'Cinzel';
		color: black;
		font-size: 20px;
	}
	#overlay .btn__reset {
		border: ;
		background: lightblue;
		padding: 10px 30px;
		margin: 50px auto;
		font-family: 'Bebas Neue';
		font-size: 25px;
		color: black;
		border-radius: 4px;
	}
	.btn__reset:hover {
		cursor: pointer;
	}
	.start {
		background-color: #5b85b7;
	}
	.start a {
		color: #78cf82;
	}
	.win {
		background-color: #78cf82;
	}
	.win a {
		color: #78cf82;
	}
	.lose {
		background-color: #D94545;
	}
	.lose a {
		color: #D94545;
	}

	#banner {
		border: ;
		margin: 120px 0 0 0;
		padding: 0;
	}
	#banner h2 {
		border: ;
		font-size: 40px;
		color: #5b85b7;
		padding: 0;
		margin: 0px 0 0px 0;
	}
	#phrase {
		border: ;
	}
	#phrase ul {
		border: ;
		display: flex;
		height: auto;
		width: ;
		margin: 50px 0 50px 0;
		padding: 0;
		list-style-type: none;
	}
	.letter {
		border: ;
		font-size: 21px;
		display: block;
		height: 69px;
		width: 65px;
		padding: 20px 1px 0 1px;
		margin-right: 2px;
		color: transparent;
		background: #D2D2D2;
		border-radius: 5px;
	}
	.space {
		width: 15px;
	}
	.show {
		color: #000;
		background-color: #76CE82;
		transition-duration: 1s;
	}

	#qwerty .section {

	}


/* KEYBOARD */
	#qwerty {
		padding: 30px 0 30px 0;
		border: ;
	}
	#qwerty .keyrow {
		border: ;
		margin: 0;
		display: flex;
		justify-content: center;
	}
	.keyrow button {
		font-size: 30px;
		width: 35pt;
		padding: 3.5px;
		margin: 2px;
	}
	.chosen {
		background-color: grey;
		border-radius: 5px;
		font-size: 20px;
		color: #FFFFFF;
	}
	#scoreboard {
		padding: 30px;
	}
	#scoreboard .section {
	
	}
	#scoreboard .tries {
		display: inline-flex;
	}
	#scoreboard ol {

	}
	#scoreboard li {
	
	}



	.tosymbols {
		
	}
	.tosymbols a {
		font-size: 30px;
		text-align: center;
		display: block;
		margin-bottom: 0;
		padding: 15px 0 15px 0;
		border-radius: 7px;
		background-color: #075770;
		color: #f8f8f8;
		text-decoration: none;
	}

}



/* TABLET CSS *****************************************************/
@media screen and (min-width: 768px){


	body {
		background-color: floralwhite;
		border: ;
	}

	header {
		border-right: 2px solid green;
	}

	

	/* THE NAVBAR  */
	#navbar {
		border:;
	}

	#navbar ul {
		justify-content: center;
	}
	#navbar .logo {
		border-left: ;
		flex: 1;
	}
	#navbar li {
		border: ;
		width: auto;
		order: 1;
		display: block;
	}
	#navbar .item a {
		border: ;
		padding: 7px 15px;
/*		background-color: teal;*/
/*		border: 1px solid #006d6d;*/
		border-radius: ;
		text-decoration: none;
	}
	#navbar .item a:hover {
		border-top: 1px solid white;
		border-bottom: 1px solid white;
		transition: all .25s;
	}
	#navbar .toggle {
		order: 2;
		padding: 20px;
	}
    
    /*
    #navbar .item:not(.secondary) a:hover {
		background-color: #006d6d;
		border-color: #005959;
	}
	*/
	
	/*
	#navbar .item .secondary a:hover {
	
	}
	*/



/* THE GAME AREA ***************************************/
	.main-container {

	}
	.section {

	}


/** THE OVERLAY AREA **/
	#overlay {

	}
	#overlay .title {
		
	}
	#overlay span {

	}
	#overlay .btn__reset {

	}

	#banner {

	}
	#banner .header {

	}

	#phrase {

	}
	#phrase ul {

	}

	#qwerty {

	}
	#qwerty .keyrow {

	}

	#scoreboard {

	}
	#scoreboard ol {

	}
	#scoreboard li {

	}




	.tosymbols {
		
	}
	.tosymbols a {
		font-size: 40px;
		margin: 0;
		padding: 15px 0 15px 0;
		background-color: #075770;
		color: whitesmoke;
	}


}



/**** DESKTOP ***/
@media screen and (min-width: 1024px){


	body {
		border-left: none;
	}
	header {
		border-right: 2px solid white;
	}


	#navbar {
		border: ;
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
	}
	#navbar ul {
		/*display: flex;
		width: 100%;*/
	}
	#navbar .logo {
	/*	flex-grow: 1;
		border: none;
		padding: 0px;
		margin: 0;
		order: 0;*/
	}
	#navbar .item {
/*		border: 1px solid red;*/
		display: flex;
		width: auto;
		padding: 10px 0px;
	}
	#navbar .item a {
/*		border: 1px solid blue;*/
		color: white;
		font-size: 21px;
	}
	#navbar .item a:hover {
		border: 1px solid whitesmoke;
	}
	#navbar .toggle {
		display: none;
	}

	.active {
		border: 1px solid white;
		padding: 0 0 0 0;
	}
	



/************ THE GAME DESKTOP CSS ***************/


/* Main styles */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&Roboto:300');


/* Variables */

	:root {
	  --color-win: #78CF82;
	  --color-lose: #D94545;
	  --color-start: #5b85b7;
	  --color-neutral: #445069;
	  --color-neutral-light: #D2D2D2;
	  --color-keys: #37474F;
	  --color-keys-light: #E5E5E5;
	  --font-size-large: 60px;
	  --font-size-medium: 20px;
	  --transition: all .2s ease-in-out;
	}



/* main */

	* {
	  box-sizing: border-box;
	}

	body {
	  justify-content: space-evenly;
	  flex-direction: column;
	  display: flex;
	  height: 100vh;
	}

	li, ol, ul {
	  padding: 0;
	  display: inline-block;
	}

	.title {
	  margin: 0;
	  text-transform: uppercase;
/*	  font-family: 'Open Sans', sans-serif;*/
	  font-size: var(--font-size-large);
	  margin: 0;
	}

	button {
	  margin: 6px;
	  border: 1px solid transparent;
	  padding: .5rem 1rem;
	  color: var(--color-keys);
	  font-size: var(--font-size-medium);
	  background-color: var(--color-keys-light);
	  border-radius: 5px;
	  -webkit-transition: var(--transition);
	  -o-transition: var(--transition);
	  transition: var(--transition);
	}

	.main-container {
	  display: flex;
	  flex-direction: column;
	  justify-content: space-around;
	  height: 100%;
	  max-height: 900px;
	  text-align: center;
	}

	.section {
	  width: 100%;
	  padding: 10px;
	}



/* Title */

	.header {
	  color: var(--color-start);
	}



/* Phrase */

	.letter {
	  font-size: var(--font-size-medium);
	  height: 65px;
	  width: 65px;
	  padding: 20px 1px 0 1px;
	  margin-right: 2px;
	  color: transparent;
	  background: var(--color-neutral-light);
	  border-radius: 5px;
	}

	.space {
	  width: 15px;
	}

	.show {
	  color: #000;
	  background-color: #76CE82;
	  transition-duration: 1s;
	}



/* Keyboard */

	.keyrow {
	  display: flex;
	  justify-content: center;
	}

	.chosen {
	  background: var(--color-neutral);
	  border-radius: 5px;
	  font-size: var(--font-size-medium);
	  color: #FFFFFF;
	}

	.btn__reset {
	  padding: 10px 30px;
	  margin: 50px auto;
	  background: #FFFFFF;
	  border-radius: 5px;
	  color: black;
	  font-size: 30px;
	/*  font-size: var(--font-size-medium);*/
	  font-family: 'Bebas Neue';
	}
	.btn__reset:hover {
	  cursor: pointer;
	}


	#banner {
		margin: 90pt 0 0 0;
		padding: 0;
	}
	#banner h2 {
		padding: 0 0 0 0;
		margin: 0;
	}



/* Overlay */

	#overlay {
	  display: flex;
	  flex-direction: column;
	  position: fixed;
	  color: #FFFFFF;
	  justify-content: center;
	  top: 0;
	  bottom: 0;
	  left: 0;
	  right: 0;
	  border-radius: 5px;
	}

	.title {
	  color: #FFF;
	}

	.start {
	  background-color: var(--color-start);
	}

	.start a {
	/*  color: var(--color-win);*/
	}

	.win {
	  background-color: var(--color-win);
	}

	.win a {
	  color: var(--color-win);
	}

	.lose {
	  background-color: var(--color-lose);
	}

	.lose a {
	  color: var(--color-lose);
	}





	.tosymbols {

	}
	.tosymbols a {
		margin: auto;
		border: 1px solid #075770;
		border-radius: 6px 6px 6px 6px;
		width: 40%;
		font-size: 40px;
		background-color: floralwhite;
		color: #075770;
	}
	.tosymbols a:hover {
		background-color: #075770;
		color: floralwhite;
	}


}

